<div class="row" id="scrollTarget">
    <div class="col-md-12 sectionHead">
        <h2 class="eventHead">Events in your area:</h2>
    </div>
</div>

<div class="col-md-12 eventOptions">
    <div class="col-md-4 eventList">
        <h3 class="friday days">Friday</h3>
        <ul style="list-style-type:none">
            {{#each fridayEvents}}
            <li>
                <div class="card text-center">
                    <div class="card-header" id="eventTitle-{{this.id}}">{{ this.title }}</div>
                    <div class="card-body">
                        <p class="card-text" id="eventVenue-{{this.id}}">{{this.venue_name}}</p>

                    </div>
                    <button class="btn btn-danger chosen" data-id="{{this.id}}">Let's go!</button>
                </div>
            </li>
            <br> {{/each}}
        </ul>
    </div>
    <div class="col-md-4 eventList">
        <h3 class="days">Saturday</h3>
        <ul style="list-style-type:none">
            {{#each saturdayEvents}}
            <div class="card text-center">
                <div class="card-header" id="eventTitle-{{this.id}}">{{ this.title }}</div>
                <div class="card-body">
                    <p class="card-text" id="eventVenue-{{this.id}}">{{this.venue_name}}</p>

                </div>
                <button class="btn btn-danger chosen" data-id="{{this.id}}">Let's go!</button>
            </div>
            </li>
            <br> {{/each}}
        </ul>
    </div>
    <div class="col-md-4 eventList">
        <h3 class="days">Sunday</h3>
        <ul style="list-style-type:none">
            {{#each sundayEvents}}
            <div class="card text-center">
                <div class="card-header" id="eventTitle-{{this.id}}">{{ this.title }}</div>
                <div class="card-body">
                    <p class="card-text" id="eventVenue-{{this.id}}">{{this.venue_name}}</p>

                </div>
                <button class="btn btn-danger chosen" data-id="{{this.id}}">Let's go!</button>
            </div>
            </li>
            <br> {{/each}}
        </ul>
    </div>
</div>
<br>
<br>


<div class="row saveButton col-md-12">
    <button type="button" class="btn btn-primary btn-lg btn-block saveBtn" id="saveActivities">Save Activities!</button>
</div>

<script>
    console.log("heyo");
    // Smooth sccroll to Events Function
    var target = $("#scrollTarget");
    setTimeout(function () {
        $('html, body').animate({
            scrollTop: target.offset().top
        }, 1000);
    }, 500)
    // end scroll function

    $(".chosen").on("click", function () {
        console.log("Clicked!");
        var thisID = $(this).data("id");
        var eventTitle = $("#eventTitle-" + thisID).text();
        var eventVenue = $("#eventVenue-" + thisID).text();
        var lsUser = localStorage.getItem("trueUser");
        console.log("lsUser = ", lsUser);
        var savedEvent = {
            eventName: eventTitle,
            eventCity: eventVenue,
            eventTrueUser: lsUser
        };
        console.log(savedEvent);
        $.ajax(
            "/api/savedevents",
            {
                method: "POST",
                data: savedEvent
            }
        ).then(function () {
            console.log("back from db");
        })
    })
</script>